body{
    margin: 0px;
    text-align: center;
    font-family: 'Alice', serif;
    font-size: larger;
    
}

h1{
    margin-top: 0;
    font-family: 'Ms Madi', cursive;
}

h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

h3{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.top{
    background-color: #FFEAFE;
    margin: 0px;
    position: relative;
    padding-top: 100px;
}

.middle{
    height: 200px;
    width: 200px;
    background-color: #9EA9F0;
}

.bottom{
    height: 200px;
    width: 200px;
    background-color:#9AC5F4 ;
}

img{
    width: 300px;
    box-align: left;
    align-self: flex-start;
    display: inline-block;
    margin-top: 10px;
}

iframe{
    width: 300px;
    position: relative;
    margin-left: 10px;
    display: inline-block;
    align-content: flex-start;
    right: 500px;
}

.des{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    top: 200px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top:40px;
}

.font{
    margin-left: 100px;
    margin-right: 100px;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
}

li{
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.contact{
    background-color: #CCC1FF;
    height: 62px;
    width: 200px;
    font-size: larger;
    font-family: 'Alice', serif;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 20px;
}

a{
    text-decoration: none;
    text-align: center;
    color: #553C8B    
}

.bottom-container{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100px;
    width: 100%;
    background-color: #82ACFF;
    font-size: x-large;
    align-items: center;
    margin-top: 70px;
    margin-top: 0%;
}

.copy{
    font-size: medium;
}

.skills{
    width: 100%;
    height: fit-content;
    
}

.middle-container{
    background-color: #FEDEFF;
    height: fit-content;
   padding-bottom: 15px;
    position: inherit;    
}


hr{
    background-color: none;
}

.ux{
    margin-right: 700px;
    display: inline;
    margin-left: 10px;
}
.pfp{
    margin-right: 1100px;
    margin-top: 20px;
}
